html {
  background-color: #d5e5ed;
  color: #243c66;
  font-family: 'Karla', Serif;
  font-size: 62.5%;
  font-weight: 400;
  height: 100%;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 8rem 0 2rem 0;
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
}

.user-input {
  height: 2rem;
  font-size: 1.5rem;
  vertical-align: bottom;
}

.user-input::placeholder {
  color: #9aa2a8;
}

button {
  background-color: #fffb96;
  border-radius: 8px;
  height: 2.7rem;
  vertical-align: bottom;
}